@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide default antd required label astericks icon */

:where(.css-dev-only-do-not-override-1tj953w).ant-form-item
  .ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::before {
  display: none;
}

.tiers > * + *,
.summary-cards > * + * {
  border-top: 1px #e9eaeb solid;
  padding-top: 24px;
}

.summary-cards > * + * {
  padding-top: 16px;
  margin-top: 16px;
}

.ant-empty-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.noBorder{
    border: none;
    outline: none;
}

.formPopuptitle{
    font-size: 20px;
    color: #262626;
    font-weight: 600;
}

.between-align{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


:where(.css-dev-only-do-not-override-cxty).ant-form-item {
    margin-bottom: 10px;
}

.text{
    font-weight: 600;
    font-size: 12px;
    color: #777777;
}

