@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
@font-face {
  font-family: "inter";
  src: url("./fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf")
      format("truetype"),
    url("./fonts/Inter/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
  /* font-size: 14px; */
  /* border: 2px red solid; */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 600px;
}

@media (max-width: 768px) {
  html {
    scroll-padding-top: 200px;
  }
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden !important;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.body_wrapper {
  width: min(99%, 80rem);
}

/* Light Mode */
body {
  @apply bg-white text-gray-900 transition-colors;
}

/* Dark Mode */
.dark body {
  @apply bg-gray-900 text-white transition-colors;
}
/* 
#trips {
  height: 100vh;
} */

.perspective {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
  /* background: red; */
}

.card-rotate-wrapper:hover .card-rotate {
  transform: rotateY(180deg) translateY(-40px);
}

.card-rotate-wrapper:hover .trip-details-animation {
  transform: rotateY(180deg);
}

.trip-details-animation {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.group:hover .trip-details-animation {
  transform: translateY(45px);
  opacity: 1;
}
